<html>
      <head>
            <title>Manav's online website</title>

     
<meta name="viewport" content="width=device-width, initial-scale=1.0">


         <style>
         body{
      text-align: center;
        color: black;
}

a{
      color: blue;
}
</style>
      </head>

      

      <body>



            <div id="container" style="position: relative; z-index: 1;">
                  <h3>Welcome {{if .VisitMoreThanOnce}} back {{end}}{{.Name}}!</h3>
                  <a title="About Manav" href="/about">About Manav</a><br/><br/>
            <a title="Resume" href="/resume" target="_blank">Resume</a> <br/><br/>
            <a title="Projects" href="/projects">Projects</a> <br/><br/>
            <a title="Contact" href="/contact">Contact</a> <br/><br/>
            <a title="Chat" href="/chat">Chat</a> <br/>

      </div>

            <script> 
            
        
            VANTA.WAVES({ 
                  el:  "#canvas",
            }) 
            VANTA.WAVES("#canvas")
           
            </script>
      </body>
</html>

