<html>
    <head>
        <title>Upload resume</title>
    </head>

    <body>
            <form id="rendered-form" action="/resume/upload" method="POST" enctype="multipart/form-data">
                <div class="rendered-form">
                    <div class="fb-file form-group field-file-1564166877269">
                        <label for="file-1564166877269" class="fb-file-label">File Upload</label>
                        <input type="file" class="form-control" name="resume" id="resume">
                        <input type="submit">
                    </div>
                </div>
            </form>
    </body>
</html>

