<html>
    <head>
        <title>Upload resume</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>


    <header>
            <a href="/">Home</a> <span> </span>
    
            <a href="/about">About</a> <span> </span>
    
            <a href="/resume">Resume</a> <span> </span>
    
            <a href="/projects">Projecs</a> <span> </span>
    
            <a href="/chat">Chat</a> <br/>
        </header>
            <form id="rendered-form" action="/resume/upload" method="POST" enctype="multipart/form-data">
                <div class="rendered-form">
                    <div class="fb-file form-group field-file-1564166877269">
                        <label for="file-1564166877269" class="fb-file-label">File Upload</label>
                        <input type="file" class="form-control" name="resume" id="resume">
                        <input type="submit">
                    </div>
                </div>
            </form>
    </body>
</html>

